<!DOCTYPE html>
<html>
    <head>
        <title>Number generator</title>
        <style>
          .rand_num {
            text-align: center;
          }
          .general_button {
                position: center;
                top: 10%;
                height:75px;
                width:150px;
          }
          .wrapper {
                text-align: center;
          }
        </style>
          {{ turbo() }}
    </head>
    <body>
        {% include "index/index.html" %}
    </body>
</html>